@font-face {
    font-family: Comforta;
    src: url(../font/Comfortaa/static/Comfortaa-Medium.ttf)}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comforta;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(51, 162, 214);
}
aside{
    padding: 2rem;
    padding-right: 0;
    color: white;
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    font-weight: 400;
    font-size: 2.1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.boton-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}
.boton-menu.active{
    background-color: white;
    color: rgb(51, 162, 214);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    position: relative;
}
.boton-menu.active::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    /*top: 0;*/
    bottom: 100%;
    right: 0;
    /*background-color: yellow;*/
    background-color: transparent;
    border-bottom-right-radius: 0.8rem;
    box-shadow: 0 1rem 0 white;
}
.boton-menu.active::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    /*bottom: 100%;*/
    right: 0;
    /*background-color: yellow;*/
    border-top-right-radius: 0.8rem;
    box-shadow: 0 -1rem 0 white;
}
.bi-hand-index-thumb-fill,
.bi-hand-index-thumb{
    transform: rotate(90deg);
}
.boton-carrito{
    margin-top: 2rem;
}
.numerito{
    background-color: white;
    color:rgb(51, 162, 214);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
}
.boton-carrito.active .numerito{
    background-color: rgb(51, 162, 214);
    color:white;
}
.footer-texto{
    color: rgb(145, 212, 243);;
}
main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}
.titulo-principal{
    color:rgb(51, 162, 214) ;
    margin-bottom: 2rem;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles{
    background-color: rgb(51, 162, 214) ;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -0.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto-titulo{
    font-size: 1.1rem;
}
.producto-agregar{
    border: 0;
    background-color: white;
    color:rgb(51, 162, 214);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor:pointer;
    border: 2px solid white ;
    transition: background-color 0.2s, color 0.2s;
}
.producto-agregar:hover{
    background-color: rgb(51, 162, 214);
    color: white;
}

/*************************************************** Carrito ********************************************/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio{
    color:rgb(51, 162, 214);
}
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(201, 199, 199, 0.349);
    color:rgb(51, 162, 214);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto-titulo{
    width: 7rem;
    height: 3.5rem;
}
.carrito-producto small{
    font-size: 0.7rem;
}
.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color:brown;
    cursor: pointer;
}
.carrito-acciones{
    display: flex;
    justify-content: space-between;
}
.carrito-acciones-vaciar{
    border:0;
    background-color: rgba(201, 199, 199, 0.349);
    padding: 1rem;
    border-radius: 1rem;
    color:rgb(51, 162, 214);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha{
    display: flex;
}
.carrito-acciones-total{
    display: flex;
    background-color: rgba(201, 199, 199, 0.349);
    padding: 1rem;
    color:rgb(51, 162, 214);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar{
    border:0;
    background-color: rgb(51, 162, 214);
    padding: 1rem;
    color:white;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.carrito-comprado{
    color:rgb(51, 162, 214);
}
.disabled{
    display: none;
}

.contenedor-usuarios{
    font-family: Comforta;
    color:rgb(102, 191, 233);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 17rem;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-bottom-left-radius: 1rem;
    padding: 10px;
    

}
.lista-usuarios{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
